MS_TENANT=organizations
MS_CLIENT_ID=<GUID>
MS_CLIENT_SECRET=<SECRET_VALUE>
MS_REDIRECT_URI=https://<public-host-or-ip>:4001/azure_auth/code_response
MS_SCOPE="openid profile email offline_access"

SECRET_KEY_BASE=<GENERATE_WITH_mix_phx_gen_secret>
DATABASE_URL=postgres://user:pass@host:5432/dbname
POOL_SIZE=10

CERTFILE=/etc/ssl/<your_app_name>/fullchain.pem
KEYFILE=/etc/ssl/<your_app_name>/privkey.pem
